.container {
  padding: 0 15px;
  color: #fff;
}

.center {
  text-align: center;
  margin-bottom: 14px;
}

.content {
  background-color: #0f0f0f;
  margin: 24px auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 420px;
  border-radius: 14px;
  gap: 14px;
}

.logo {
  width: 75px;
  height: 75px;
  transition: all 1s;
}
.logo:hover {
  transform: rotate(180deg);
}

.profit {
  color: #12f98a;
  font-weight: bold;
}

.loss {
  color: #f91257;
  font-weight: bold;
}

.backBtn {
  padding: 1.2rem 1.5rem;
  background-color: #f91257;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
}